.list-item-number::marker, .list-item-icon::marker {
	font-size: 0.6rem;
}

body {
	/* overflow-y: scroll; */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.no-scroll-snap {
	scroll-snap-type: initial;
  overflow-y: initial;
}

.landing, .d-image-scroll {
  scroll-snap-align: start;
}