.list-item-number::marker, .list-item-icon::marker {
  font-size: 0.6rem;
}

.navbar.below-fold a.nav-link {
	font-size: 1.25rem;
}

.navbar a.nav-link {
	font-size: 1.5rem;
}

.navbar a.nav-link:hover {
  background: transparent;
  color: #2c86ff;
}

.navbar.below-fold a.nav-link:hover {
  background: #fff;
  color: #000;
}

.navbar .m-nav > .mobile-nav-wrapper {
  background: #a7b4bc;
}

.navbar.below-fold .m-nav > .mobile-nav-wrapper {
  background: #000;
}

.navbar.below-fold .m-nav > .mobile-nav-wrapper > a img.fade-on-scroll {
  opacity: 0;
}

.navbar.below-fold .m-nav > .mobile-nav-wrapper > .menu-button-2 > .icon-4 {
  color: #fff;
}

@media only screen and (min-width: 991px) {
  .buy-cta-wrapper {
    bottom: 3rem;
  }
}

.buy-cta-wrapper.below-fold {
  bottom: 0rem;
}

.klaviyo-form input {
	padding: 0!important;
}

@media only screen and (max-width: 478px) {
  .klaviyo-form input {
    font-size: 1rem!important;
    height: auto!important;
    padding: 0!important;
  }
  .klaviyo-form form>div.needsclick {
  	min-height: auto!important;
  }
  .klaviyo-form input::placeholder {
    font-size: 1rem!important;
  }
  .klaviyo-form button.needsclick {
		font-size: 1rem!important;
    height: 1rem!important;
    display: inline-flex!important;
	  align-items: center!important;
  }
}

/* .product-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.no-scroll-snap {
  scroll-snap-type: initial;
  overflow-y: initial;
}

.landing, .d-image-scroll {
  scroll-snap-align: start;
} */